<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moham.contacts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Contacts"
        tools:ignore="AllowBackup">
        <activity android:name=".features.addcontact.view.AddContactActivity" />
        <activity android:name=".features.contactinfo.ContactInfoActivity" />
        <activity
            android:name=".features.contacts.view.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:theme="@style/Theme.Contacts.NoActionBar" />
        <activity android:name=".features.login.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>